/* Import fonts from Google
===============================*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
/* Styles for web page*/
body {
  background-color: #ffff;
}

h1 {
  font-family: 'Mouse Memoirs', sans-serif;
  color: blue;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: red;
}
